*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.result{

    display: flex;
    min-height: 10vh;
    width: 60%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    justify-content: space-between;
    align-items: center ;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px 3px 3px;
    background-image: url(../public/cloudy-landscape-cumulus-haze-scenic.jpg);

}

ul{
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;

}

h2{
    margin-left: 20px;
}

